<div class="card mb-3">
    <div class="card-body" x-data="{full: false, questions: false}">
        <div class="d-flex flex-column gap-1">
            <div class="d-flex justify-content-between">
                {% include "reports/_report_header.html" with report=subscribed_item.report %}
            </div>
            {% with filter_results=subscribed_item.iter_filter_results %}
                {% if filter_results %}
                    <div>
                        <div class="fw-semibold small text-uppercase text-secondary">Filter results</div>
                        <ul class="mb-2 small">
                            {% for question, value in filter_results %}<li>{{ question.question }} → {{ value|yesno:"Yes,No" }}</li>{% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            {% with extraction_results=subscribed_item.iter_extraction_results %}
                {% if extraction_results %}
                    <div>
                        <div class="fw-semibold small text-uppercase text-secondary">Extraction results</div>
                        <ul class="mb-2 small">
                            {% for field, value in extraction_results %}<li>{{ field.name }} → {{ value|default_if_none:"—" }}</li>{% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="d-flex flex-column gap-1">
                <div class="clamp-3" :class="{'clamp-3': !full, 'pre-line': full}">{{ subscribed_item.report.body }}</div>
                <div class="d-flex gap-2">
                    <button type="button"
                            class="btn btn-sm btn-link p-0 border-0"
                            @click.prevent="full=true"
                            x-show="!full">[Show full report]</button>
                    <button type="button"
                            class="btn btn-sm btn-link p-0 border-0"
                            @click.prevent="full=false"
                            x-cloak
                            x-show="full">[Show summary]</button>
                </div>
            </div>
            {% include "reports/_report_buttons_panel.html" with report=subscribed_item.report %}
        </div>
    </div>
</div>
