{% load bootstrap_icon from common_extras %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Subscription Help</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close" />
    </div>
    <div class="modal-body">
        <p>
            This feature allows users to create subscriptions to
            automatically follow up on patients or reports that match
            specific criteria. By setting up filters based on various
            parameters, users can receive notifications or updates
            about new records that meet their criteria. This ensures
            that users stay informed about important cases without
            the need for constant manual searching.
        </p>
    </div>
</div>
