{% extends "subscriptions/subscription_layout.html" %}
{% load static %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    Update Subscription
{% endblock title %}
{% block heading %}
    <c-page-heading title="Update Subscription" />
{% endblock heading %}
{% block content %}
    <form action="{% url 'subscription_update' object.id %}" method="post">
        {% csrf_token %}
        {% crispy form %}
        <div class="d-flex gap-2 ">
            <a href="{% url 'subscription_detail' object.id %}"
               class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Update Subscription</button>
        </div>
    </form>
{% endblock content %}
