{% extends "subscriptions/subscription_layout.html" %}
{% load static %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    Update Subscription
{% endblock title %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3 d-flex gap-3">
            <span>Update subscription</span>
        </h4>
    </div>
{% endblock heading %}
{% block content %}
    <form action="{% url 'subscription_update' object.id %}"
          method="post"
          x-data="QuestionsForm($el)">
        {% csrf_token %}
        {% crispy form.subscription %}
        <fieldset>
            <legend>RAG Questions</legend>
            <div class="mb-2">
                {{ form.questions.management_form }}
                <template>
                    {% crispy form.questions.empty_form form.questions.form.helper %}
                </template>
                <div id="questions-formset" class="d-flex flex-column">
                    {% for question_form in form.questions %}
                        {% crispy question_form form.questions.form.helper %}
                    {% endfor %}
                </div>
                <button type="button"
                        name="add-question"
                        value="add-question"
                        class="btn btn-success"
                        :class="{'d-none': questionsCount >= 3}"
                        @click="addQuestion()">Add RAG question</button>
            </div>
        </fieldset>
        <div class="my-4"></div>
        <div class="d-flex gap-2 ">
            <button type="submit" class="btn btn-primary">Update Subscription</button>
            <a href="{% url 'subscription_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
{% endblock content %}
