{% extends "core/core_layout.html" %}
{% load static from static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'search/search.css' %}" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'subscriptions/subscriptions.css' %}" />
{% endblock css %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'search/search.js' %}"></script>
    <script src="{% static 'subscriptions/subscriptions.js' %}"></script>
{% endblock script %}
