{% extends "subscriptions/subscription_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% load bootstrap_icon from common_extras %}
{% block title %}
    Subscription List
{% endblock title %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3 d-flex gap-3">
            <span>Subscription List</span>
            <button type="button"
                    class="btn btn-sm btn-info align-baseline"
                    hx-get="{% url 'subscription_help' %}"
                    hx-target="#htmx-dialog">
                Help
                {% bootstrap_icon "question-circle" %}
            </button>
        </h4>
        <a href="{% url 'subscription_create' %}" class="btn btn-success btn-sm">
            {% bootstrap_icon "plus" %}
            Add new subscription
        </a>
    </div>
{% endblock heading %}
{% block content %}
    {% for subscription in subscription_list %}
        {% include "subscriptions/_subscription_list_item.html" %}
    {% empty %}
        <p>No subscriptions available</p>
    {% endfor %}
{% endblock content %}
