{% extends "subscriptions/subscription_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% load static %}
{% block title %}
    Create Subscription
{% endblock title %}
{% block heading %}
    <c-heading title="Subscriptions" />
{% endblock heading %}
{% block content %}
    <form action="{% url 'subscription_create' %}" method="post">
        {% crispy form %}
        <div class="d-flex gap-2">
            <a href="{% url 'subscription_list' %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Create Subscription</button>
        </div>
    </form>
{% endblock content %}
