{% extends "subscriptions/subscription_layout.html" %}
{% load static %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    Update Subscription
{% endblock title %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3 d-flex gap-3">
            <span>Update subscription</span>
        </h4>
    </div>
{% endblock heading %}
{% block content %}
    <form action="{% url 'subscription_update' object.id %}"
          method="post"
          x-data="FormSet($el)">
        {% include "_subscription_form_body.html" %}
        <div class="d-flex gap-2 mt-4">
            <button type="submit" class="btn btn-primary">Update Subscription</button>
            <a href="{% url 'subscription_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
{% endblock content %}
