{% extends "subscriptions/subscription_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% load bootstrap_icon from common_extras %}
{% load render_table from django_tables2 %}
{% block title %}
    Subscriptions
{% endblock title %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3 d-flex gap-3">
            <span>Subscriptions</span>
            <button type="button"
                    class="btn btn-sm btn-info align-baseline"
                    hx-get="{% url 'subscription_help' %}"
                    hx-target="#htmx-dialog">
                Help
                {% bootstrap_icon "question-circle" %}
            </button>
        </h4>
        <a href="{% url 'subscription_create' %}" class="btn btn-success btn-sm">
            {% bootstrap_icon "plus" %}
            Add new subscription
        </a>
    </div>
{% endblock heading %}
{% block content %}
    <div class="list-group">{% render_table table %}</div>
{% endblock content %}
