<div class="card">
    <div class="card-body">
        <h5 class="card-title">Vespa BM25 Help</h5>
        <p class="card-text">
            Vespa ist a modern full text search database and BM25 is a simple search
            ranking algorithm based on the query terms appearing in each document.
        </p>
        <p class="card-text">
            {# https://docs.vespa.ai/en/reference/simple-query-language-reference.html #}
            The following rules apply:
            <ul>
                <li>Search is case-insensitive.</li>
                <li>All terms in the query must be matched by a document (implicit AND query).</li>
                <li>term1 OR term2 (capital OR) means that either term1 or term2 must match.</li>
                <li>Terms surrounded by quotes are search as exact phrase, e.g. "lung disease".</li>
                <li>+ in front of a term means that the exact term must match.</li>
            </ul>
        </p>
    </div>
</div>
