{% extends "vespa/vespa_layout.html" %}
{% load bootstrap_icon from core_extras %}
{% block heading %}
    <h4 class="mb-3">Vespa Admin</h4>
    <div class="alert alert-danger d-flex align-items-center mt-3"
         role="alert">
        {% bootstrap_icon "exclamation-triangle-fill" %}
        <div class="ms-2">
            Only re-feed documents in maintenance mode. Also make sure no new documents
            are fed through the API while re-feeding.
        </div>
    </div>
    <p>There are currently {{ report_count }} reports in the database.</p>
    {% include "vespa/_current_re_feed.html" %}
    {% if not current_re_feed %}
        {% include "vespa/_previous_re_feed.html" %}
    {% endif %}
{% endblock heading %}
