{% extends "labels/labels_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    {% if form.instance.pk %}Update Question{% else %}Create Question{% endif %}
{% endblock title %}
{% block heading %}
    <c-page-heading title="Labels" />
{% endblock heading %}
{% block content %}
    <form method="post">
        {% crispy form %}
        <div class="d-flex gap-2">
            <a href="{% url 'label_group_detail' group.pk %}" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}Save Changes{% else %}Create Question{% endif %}
            </button>
        </div>
    </form>
{% endblock content %}
