{% extends "labels/labels_layout.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap_icon from common_extras %}
{% block title %}
    Auto Labels
{% endblock title %}
{% block heading %}
    <c-page-heading title="Auto Labels">
    <c-slot name="right">
    <a href="{% url 'question_set_create' %}" class="btn btn-primary">
        {% bootstrap_icon "plus-lg" %}
        Add Question Set
    </a>
    </c-slot>
    </c-page-heading>
{% endblock heading %}
{% block content %}
    <div class="list-group">{% render_table table %}</div>
{% endblock content %}
