{% extends "core/core_layout.html" %}
{% block title %}
    Admin Section
{% endblock title %}
{% block heading %}
    <h4 class="mb-3">Admin Section</h4>
{% endblock heading %}
{% block content %}
    <h5>Stats</h5>
    <table class="table table-bordered">
    </table>
    <h5>Admin Tools</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'broadcast' %}">Send Email to all users</a>
        </li>
        <!-- djlint:off D018 -->
        <li class="list-group-item">
            <a href="{% url 'admin:index' %}">Django Admin</a>
        </li>
        <!-- djlint:on-->
    </ul>
{% endblock content %}
