{% load bootstrap_icon from common_extras %}
<div id="chat-heading" hx-swap-oob="true">
    {% if not chat %}
        <c-heading title="New Chat" />
    {% else %}
        <c-heading title="Chat: {{ chat.title }}">
        <c-slot name="right">
        <form action="{% url 'chat_delete' chat.id %}" method="post">
            {% csrf_token %}
            <button type="submit"
                    class="btn btn-danger"
                    onclick="return confirm(`Really delete this chat '{{ chat.pk }}'?`)">
                {% bootstrap_icon "trash" %}
                Delete
            </button>
        </form>
        </c-slot>
        </c-heading>
    {% endif %}
</div>
