<div class="card mb-2">
    <div class="card-body">
        {% include "notes/_note_text.html" %}
        <hr />
        <div class="d-flex flex-column gap-1" x-data="{full: false}">
            <div class="clamp-3" :class="{'clamp-3': !full, 'pre-line': full}">{{ note.report.body }}</div>
            <div class="d-flex">
                <button type="button"
                        class="btn btn-sm btn-link p-0 border-0"
                        @click.prevent="full=true"
                        x-show="!full">[Show full report]</button>
                <button type="button"
                        class="btn btn-sm btn-link p-0 border-0"
                        @click.prevent="full=false"
                        x-cloak
                        x-show="full">[Show summary]</button>
            </div>
        </div>
        {% include "reports/_report_buttons_panel.html" with report=note.report reload_on_note_delete=True %}
    </div>
</div>
