{% extends "notes/notes_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    Notes
{% endblock title %}
{% block heading %}
    <c-page-heading title="Notes" />
{% endblock heading %}
{% block content %}
    {% crispy filter.form %}
    <div x-data="NoteList()">
        {% for note in notes %}
            {% include "notes/_note_list_item.html" %}
        {% empty %}
            No notes found
        {% endfor %}
    </div>
    <div class="mt-3">
        <c-pagination :page-obj="page_obj" :page-sizes="page_sizes" />
    </div>
{% endblock content %}
