{% extends "collections/collections_layout.html" %}
{% load bootstrap_icon from common_extras %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    Collections
{% endblock title %}
{% block heading %}
    <c-page-heading title="Collections">
    <c-slot name="right">
    <button type="button"
            class="btn btn-primary"
            hx-get="{% url 'collection_create' %}"
            hx-target="#htmx-dialog">
        {% bootstrap_icon "plus-lg" %}
        Add new collection
    </button>
    </c-slot>
    </c-page-heading>
{% endblock heading %}
{% block content %}
    {% include "collections/_collection_list.html" %}
{% endblock content %}
