{% extends "collections/collections_layout.html" %}
{% load bootstrap_icon from common_extras %}
{% block title %}
    Collection {{ collection.name }}
{% endblock title %}
{% block heading %}
    <c-page-heading title="Collection {{ collection.name }}">
    <c-slot name="right">
    <button type="button"
            class="btn btn-primary"
            hx-get="{% url 'collection_update' collection.id %}"
            hx-target="#htmx-dialog">
        {% bootstrap_icon "pencil" %}
        Rename
    </button>
    <a href="{% url 'collection_export' collection.id %}"
       class="btn btn-success">
        {% bootstrap_icon "download" %}
        Export
    </a>
    <form action="{% url 'collection_delete' collection.id %}" method="post">
        {% csrf_token %}
        <button type="submit"
                class="btn btn-danger"
                onclick="return confirm(`Really delete collection '{{ collection.name }}'?`)">
            {% bootstrap_icon "trash" %}
            Delete
        </button>
    </form>
    </c-slot>
    </c-page-heading>
{% endblock heading %}
{% block content %}
    {% include "collections/_collection_detail.html" %}
{% endblock content %}
