{% load bootstrap_icon from core_extras %}
<form method="get" x-data="SearchForm()">
    <div class="input-group">
        <span class="input-group-text">Search</span>
        <input id="query"
               name="query"
               type="text"
               value="{{ query }}"
               maxlength="200"
               placeholder="Input your search terms and press enter"
               class="form-control" />
        <button type="button"
                class="btn bg-transparent"
                @click="clear()"
                hx-post="{% url 'search_help' %}"
                hx-target="#search-panel"
                style="width: 40px;
                       margin-left: -40px;
                       padding: 0;
                       z-index: 100">{% bootstrap_icon "x" 20 %}</button>
        {# algorithm GET parameter is added by the select itself #}
        <select name="algorithm"
                class="form-select"
                hx-post="{% url 'search_help' %}"
                hx-target="#search-panel"
                @change="algorithmChanged"
                style="max-width: 200px"
                aria-label="Select search algorithm">
            {% for available_algorithm in available_algorithms %}
                <option value="{{ available_algorithm }}"
                        {% if available_algorithm == selected_algorithm %}selected{% endif %}>
                    {{ available_algorithm }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-success">{% bootstrap_icon "search" 20 %}</button>
    </div>
</form>
