{% extends "search/search_layout.html" %}
{% load static from static %}
{% load crispy from crispy_forms_tags %}
{% load bootstrap_icon from common_extras %}
{% block title %}
    Search Reports
{% endblock title %}
{% block heading %}
    <c-page-heading title="Search Reports" />
{% endblock heading %}
{% block content %}
    <form method="get"
          x-data="SearchForm($el)"
          @submit="handleSubmit"
          x-ignore-empty-inputs>
        <div class="row">{% crispy form form.query_helper %}</div>
        <div class="row">
            <div class="col">
                {% if form.non_field_errors %}
                    <div class="mt-3">{% include "bootstrap5/errors.html" %}</div>
                {% elif documents != None %}
                    {% include "search/_search_results.html" %}
                {% else %}
                    {% include "search/_search_info.html" %}
                {% endif %}
            </div>
            <div class="col col-auto">
                <div id="filters" class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Filters</h5>
                        {% crispy form form.filters_helper %}
                        {% if label_facets %}
                            <hr>
                            <h6 class="card-subtitle text-muted">Labels</h6>
                            <ul class="list-unstyled mb-0">
                                {% for label, count in label_facets %}
                                    <li>
                                        <label>
                                            <input type="checkbox"
                                                   name="labels"
                                                   value="{{ label }}"
                                                   {% if label in form.cleaned_data.labels %}checked{% endif %}>
                                            {{ label }} <span class="text-muted">({{ count }})</span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
