{% load static from static %}
{% load bootstrap_icon from common_extras %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">RAG Help</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close" />
    </div>
    <div class="modal-body">
        <p>
            Retrievel augmented generation (RAG) is a technique for enhancing the
            accuracy and reliability of search results by utilizing a Large
            Language Model (LLM).
        </p>
    </div>
</div>
