{% extends "rag/rag_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% load bootstrap_icon from common_extras %}
{% block title %}
    New RAG Job
{% endblock title %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h4 class="mb-3 d-flex gap-3">
            <span>Parameters</span>
            <button type="button"
                    class="btn btn-sm btn-info align-baseline"
                    hx-get="{% url 'rag_help' %}"
                    hx-target="#htmx-dialog">
                Help
                {% bootstrap_icon "question-circle" %}
            </button>
        </h4>
        <a href="{% url 'rag_job_list' %}">
            {% bootstrap_icon "list" %}
            Previous Jobs
        </a>
    </div>
{% endblock heading %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <form action="" method="post">
                {% csrf_token %}
                {% crispy form %}
                {{ wizard.management_form }}
                <div class="d-flex justify-content-between">
                    <div class="d-flex gap-2">
                        <button type="submit"
                                name="wizard_goto_step"
                                value="{{ wizard.steps.prev }}"
                                class="btn btn-secondary">Previous Step (Search)</button>
                        <button type="submit" class="btn btn-primary">Next Step (Questions)</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <p>
                Your search will hit approximately <strong>{{ retrieval_count }} report{{ retrieval_count|pluralize }}</strong>.
                The more reports you analyze the longer it will take. If you like to refine your search you can go back to
                the previous step and adjust the query and/or filters.
            </p>
        </div>
    </div>
{% endblock content %}
