{% load crispy_field from crispy_forms_field %}
<div class="range-slider mb-3">
    <legend style="font-size: inherit;">{{ legend }}</legend>
    <div class="slider-control input-group mt-2">
        <label class="visually-hidden" for="{{ from_field.id_for_label }}">{{ from_field.label }}</label>
        {% crispy_field from_field "class" "from-slider" %}
        <label class="visually-hidden" for="{{ till_field.id_for_label }}">{{ till_field.label }}</label>
        {% crispy_field till_field "class" "till-slider" %}
    </div>
    <div class="d-flex justify-content-center mt-2">
        <span>0</span>
        <span>-</span>
        <span>120</span>
        <span>y</span>
    </div>
</div>
