{% extends "extractions/extractions_layout.html" %}
{% load bootstrap_icon from common_extras %}
{% block title %}
    Extraction Jobs
{% endblock title %}
{% block heading %}
    <div class="d-flex justify-content-between align-items-start">
        <h3 class="mb-3">Extraction Jobs</h3>
        <a href="{% url 'extraction_job_create' %}" class="btn btn-primary">
            {% bootstrap_icon "plus-lg" %}
            Create New Job
        </a>
    </div>
{% endblock heading %}
{% block content %}
    {% include "core/_analysis_job_table.html" %}
{% endblock content %}
