{% load crispy from crispy_forms_tags %}
{% load bootstrap_icon from common_extras %}
<fieldset x-data="FormSet($el)" class="mb-3">
    {% if legend %}<legend>{{ legend }}</legend>{% endif %}
    {{ formset.management_form }}
<template>
    <c-formset-form class="formset-form">{% crispy formset.empty_form %}</c-formset-form>
</template>
<div class="formset-forms">
    {% for form in formset %}<c-formset-form class="formset-form">{% crispy form %}</c-formset-form>{% endfor %}
</div>
    {% if add_form_label %}
        <div class="d-flex flex-row-reverse">
            <button type="button"
                    class="btn btn-sm btn-success"
                    :class="{'d-none': formCount >= maxForms}"
                    @click="addForm()">
                {% bootstrap_icon "plus-lg" %}
                {{ add_form_label }}
            </button>
        </div>
    {% endif %}
</fieldset>
