.search-summary {
  white-space: normal;
}

.search-summary strong {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.pre-line {
  white-space: pre-line;
}

.clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
