/*
 * HTMX overrides
 */
.my-indicator {
  display: none;
}
.htmx-request .my-indicator {
  display: inline;
  opacity: 1;
}
.htmx-request.my-indicator {
  display: inline;
  opacity: 1;
}

/*
 * Misc
 */

.search-summary {
  white-space: normal;
}

.search-summary em {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.pre-line {
  white-space: pre-line;
}

.clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
